    .sidebar {
        width: .875em;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding: 7em 2em;
        background-color: #2B2C3B;
        box-shadow: 0 3px 25px 0 rgba(0,0,0,0.36);
        justify-content: space-evenly !important;

    }


@media only screen and (max-width: 600px){
    .sidebar {
        height : 4.82em !important;
        width : 100% !important ;
        position:sticky;
        bottom:0;
        padding: 0 !important ;
        display: inline-flex;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;

    }

}
.icons {
    margin-top: 1.5em;
}
